body {
    width: 100%;
    font-family: 'Cabin', sans-serif;
}

.conteiner {
    max-width: 1296px;
    margin: $margin auto;
}

.header-div-button,
.main-button,
.main-button-fixed:hover {
    cursor: pointer;
}