.header-page {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-page__div-top--color-blue {
    background-color: $light-blue;
}

.header-page__div-content {
    padding-top: 16px;
    padding-bottom: 16px;
}

.div-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-content__logo {
    @include margin;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    padding-left: 25px;

    &::before {
        content: url(../images/logo-book.svg);
        width: 26px;
        height: 28px;
        display: inline-block;
        position: absolute;
        left: 0;
    }
}

.div-content__cart {
    display: flex;
    align-items: center;
    gap: 8px;
}

.div-content__price {
    color: $white;
    font-size: 16px;
    @include margin;
}

.div-content__digit {
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin: 0;
    color: $black;
    font-size: 12px;
    line-height: 20px;
}

.header__div-bottom--color--white {
    background-color: #fff;
}

.header__div-menu {
    padding: 4px 0 4px 0;
}

.div-menu {
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black;
}

.div-menu__title {
    @include margin;
}